.container {
    width: 100% !important;
    background: rgb(63,94,251) !important;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,238,0.9878682842287695) 100%) !important;

}


.container-login {
    width: 100% !important;
    

    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;

    padding: 15px !important;

    height: 100% !important;

    padding-bottom: 12% !important;
    padding-top: 7% !important;


}

.wrap-login {
    width: 390px !important;

    
    border-radius: 10px !important;
    border-top-left-radius: 0%;

    overflow: hidden !important;
    padding: 77px 55px 33px 55px !important;
    

background: rgba(6, 20, 104, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
border: 1px solid rgba(6, 20, 104, 0.08);

   
}

.login-form {
    width: 100% !important;
}

.login-form-title {
    display: block !important;
    font-size: 30px !important;
    color: white !important;

    line-height: 1.2 !important;
    text-align: center !important;

    
}


.wrap-input {

    width: 100% !important;
    position: relative !important;
    border-bottom:  2px solid white !important;
    margin-bottom: 37px !important;
    
}


/*.input {
    
    font-size: 15px 
    !important;
   
    line-height: 1.2 !important;
    border: none !important;
    display: block !important; 

    width: 100% !important;
    height: 45px !important;

    background-color: transparent !important;

    padding: 0 5px !important;
    
} */

/* .focus-input {
    position: absolute !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;

    top: 0 !important;
    left: 0 !important;

    pointer-events: none !important;
    color:white !important;
} */

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    
    color: white !important;
}

.focus-input::before {
    content: "" !important;
    display: block !important;

    position: absolute !important;
    bottom: -2px !important;
    left: 0 !important;
    width: 0 !important;
    height: 2px !important;

    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s!important;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff) !important;
    background: -o-linear-gradient(to left, #21d4fd, #b721ff) !important;
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff) !important;
    background: linear-gradient(to left, #21d4fd, #b721ff) !important;
}

.focus-input::after {
    font-size: 15px !important;
    color: white !important;
    line-height: 1.2 !important;

    content: attr(data-placeholder) !important;
    display: block !important;
    width: 100% !important;
    position: absolute !important;
    top: 16px !important;
    left: 0px !important;
    padding-left: 5px !important;

    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    -moz-transition: all 0.4s!important;
}

.input:focus {
    outline: 0 !important;
}

.input:focus + .focus-input::after {
    top: -15px !important;
}


.input:focus + .focus-input::before {
    width: 100% !important; 
}

.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login-form-btn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: white;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    
}

.txt1 {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
    
}

.txt2 {
    font-size: 14px;
    color: black;
    line-height: 1.5;
    font-weight: bold !important;
    
}


a:-webkit-any-link {
    text-decoration: none !important;
}